@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Add a style for the disabled button */
button:disabled {
    cursor: not-allowed;
    background-color: #a5b4fc;
    /* Lighter shade of the button color */
    opacity: 0.7;
}